/*
https://www.colorhunt.co/palette/98ddcad5ecc2ffd3b4ffaaa7
#98DDCA
#D5ECC2
#FFD3B4
#FFAAA7
*/

/*
https://www.colorhunt.co/palette/222831393e46d65a31eeeeee
#222831
#393E46
#D65A31
#EEEEEE
*/

.root {
    -fx-color1: #FFFF00;
    -fx-color2: rgb(255,255,0);
    -fx-color3: rgba(255,255,0, 0.5);
}

.title {
    -fx-font: 30px "Arial";
}

Button:hover {
  -fx-cursor: hand;
}

.title-button {
  -fx-font: 30px "Arial";
  -fx-text-fill: #98ddca;
  -fx-padding: 10px;
  -fx-pref-height: 90px;
  -fx-pref-width: 250px;
  -fx-background-color: #222831;
  -fx-background-radius: 5px;
}

.month-button {
  -fx-font: 20px "Arial";
  -fx-background-color: #eeeeee;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 15px;
  -fx-border-width: 1px;
  -fx-border-color: #393e46;
  -fx-pref-height: 20px;
  -fx-pref-width: 120px;
  -fx-padding: 5px;
}

.hidden {
  -fx-pref-width: 0;
  -fx-opacity: 0;
}
/* ---------------- SECTION DAY ----------------------*/
.title_day {
  -fx-font: 20px "Arial";
  -fx-alignment: center;
  -fx-text-fill: #393e46;
}

.title_kcal {
  -fx-font: 15px "Arial";
  -fx-alignment: center;
}

.day-section {
  -fx-padding: 4px;
  -fx-pref-height: 80px;
  -fx-pref-width: 250px;
  -fx-text-fill: #222831;
  -fx-background-color: #eeeeee;
  -fx-background-radius: 5px;

   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 0);
}

.day-food-text {
    -fx-font: 12px "Arial";
    -fx-text-fill: #222831;

    -fx-alignment: center;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}

.day-food-button {
    -fx-font: 35px "Arial";
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
    -fx-background-color: #222831;
    -fx-padding: 4px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}

.morning {
  -fx-background-color: #98ddca;
}
.afternoon {
  -fx-background-color: #d5ecc2;
}
.evening {
  -fx-background-color: #ffd3b4;
}
.snacks {
  -fx-background-color: #ffaaa7;
}
/* ---------------- END SECTION DAY ----------------------*/
